.container {
  width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.fileImage {
  max-height: 70px;
  max-width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleContainer {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
